@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

:root {
    --celeste: #12a7ec;
    --blanco: #fff;
    --negro: #000;
    --naranja: #FA9006;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}


/*Menú de app*/
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--blanco);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 1);
}

header .logo {
    font-size: 2.5rem;
    color: var(--negro);
}

header .navbar a {
    font-size: 1.7rem;
    color: var(--negro);
    margin: 0 1rem;
}

header .navbar a:hover {
    color: var(--celeste);
}

.icons button{
    background: var(--blanco);
}

/*Sección de destacados*/

.carga {
    top: 0.2rem;
    left: 40rem;
    position: relative;
    width: 100px;
    height: 100px;
}
  
.carga:before , .carga:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.carga:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
}
  
@keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.products .box-container {
    width: 80%;
}

.products .box-container .box {
    border: .1rem solid rgba(0, 0, 0, 1);
    border-radius: 5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: var(--blanco);
    flex: 1 1 30rem;
}

.products .box-container .box .content {
    margin-top: -6rem;
}

.products .box-container .box img {
    height: 20rem;
    width: 20%;
    filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, 1));
    margin: 8rem 2rem;
}

.products .box-container .box .icons {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 5rem;
    left: -9rem;
}

.products .box-container .box:hover .icons {
    left: 1rem;
}

.products .box-container .box .btnDetail {
    background-color: var(--blanco);
    color: var(--negro);
    font-size: 20px;
}

/*Elementos del Carrito que me falta desarrollar*/

.cartBox {
    background: var(--blanco);
    display: flex;
}

.cartBox .cartImage {
    height: 2rem;
}

/*Sección de ayuda*/

.ayuda {
    border: .1rem solid rgba(0, 0, 0, 1);
    border-radius: .1rem;
    width: 50rem;
    margin: 2rem;
    padding: 0.5rem;
}

.ayudaBox {
    text-align: center;
}

.btnAyuda {
    display: flex;
    justify-content: space-around;
    margin-right: 50rem;
}

.btnAyuda  button{
    margin-left: 50rem;
    display: flex;
}

/*Sección de detalles del producto*/

.descripciones {
    margin-top: 1.5rem;
    text-align: center;
}

.descripciones img {
    width: 25%;
}

.descripciones p {
    font-size: 15px;
}

.card {
    display: block;
}

.card .shopCount {
    text-align: center;
}

.botones{
    display: flex;
    justify-content: space-evenly;
}

.cartIcon {
    display: flex;
    justify-content: center;
}

/*Sección de generos de la app de libros*/

.box-container {
    display: flex;
    padding: 5rem;
}

.box-container .box {
    border: .1rem solid var(--negro);
    border-radius: 0.1rem;
    text-align: center;
    background: #f9f9f9;
}

.box-container .content {
    margin: 5rem;
}

.box-container img {
    width: 12rem;
    height: 15rem;
}

/*Sección de libros según el genero*/
.listBox {
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.listBox .boxGenre {
    text-align: center;
    background: var(--blanco);
    font-size: 15px;
}

.listBox .boxGenre img {
    width: 50%;
}

/*Pie de página*/

footer {
    text-align: center;
}
