@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

:root {
    --celeste: #12a7ec;
    --blanco: #fff;
    --negro: #000;
    --naranja: #FA9006;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3ccircle r='93.335' cx='60.27' cy='-30.14' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='456.91' cy='465.59' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='786.93' cy='766.17' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='67.19' cx='1366.68' cy='530.26' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='147.79' cx='864.27' cy='414.15' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='75.5' cx='981.69' cy='133.45' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='170.905' cx='283.36' cy='465.38' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='146.345' cx='1155.54' cy='273.01' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='79.12' cx='1071.16' cy='134.98' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='185.885' cx='947.99' cy='396.7' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='89.86' cx='405.71' cy='144.71' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='66.205' cx='272.67' cy='508.17' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='107.045' cx='180.26' cy='184.29' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='180.25' cx='1150.99' cy='298.04' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='156.345' cx='562.8' cy='534.07' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='136.135' cx='161.78' cy='38.51' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='135.095' cx='330.69' cy='144.29' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='50.365' cx='751.6' cy='475.87' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='171.995' cx='767.58' cy='17.98' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='143.905' cx='0.39' cy='305.99' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='141.775' cx='624.81' cy='427.53' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='68.705' cx='1342.14' cy='250.51' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='105.84' cx='739.69' cy='137.72' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='52.39' cx='1234.93' cy='35.07' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='98.755' cx='752.64' cy='19.8' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='183.96' cx='558.22' cy='352.44' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='62.46' cx='1400.55' cy='218.14' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='76.72' cx='904.98' cy='411.83' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='62.095' cx='1212.48' cy='444.11' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='129.695' cx='455.41' cy='216.97' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='151.95' cx='990.47' cy='395.44' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='184.585' cx='381.1' cy='77.76' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='133.165' cx='1180.7' cy='101.51' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='78.655' cx='33.38' cy='81.44' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='75.005' cx='409.45' cy='181.54' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='167.295' cx='108.89' cy='537.47' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='169' cx='334.39' cy='162.93' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='182.075' cx='420.38' cy='256.92' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='129.44' cx='1165.66' cy='200.7' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='133.51' cx='56.11' cy='282.7' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='75.05' cx='558.42' cy='421.29' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='129.56' cx='815.04' cy='198.73' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='65.97' cx='1313.3' cy='43.55' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='102.17' cx='317.2' cy='284.76' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='139.48' cx='936.3' cy='492.56' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='169.325' cx='559.34' cy='124.12' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1003'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

/*Menú de app*/
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--blanco);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 1);
}

header .logo {
    font-size: 2.5rem;
    color: var(--negro);
}

header .navbar a{
    font-size: 1.7rem;
    color: var(--negro);
    margin: 0 1rem;
}

header .navbar a:hover {
    color: var(--celeste);
}

.icons button{
    background: var(--blanco);
}

.icons button:hover {
    color: var(--celeste);
}

.icons a {
    color: var(--negro);
}

.icons a:hover {
    color: var(--celeste);
}

/*Sección de destacados*/

.carga {
    top: 0.2rem;
    left: 40rem;
    position: relative;
    width: 100px;
    height: 100px;
}
  
.carga:before , .carga:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.carga:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
}
  
@keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.products .box-container {
    width: 80%;
}

.products .box-container .box {
    border: .1rem solid rgba(0, 0, 0, 1);
    border-radius: 5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: var(--blanco);
    flex: 1 1 30rem;
}

.products .box-container .box .content {
    margin-top: -6rem;
}

.products .box-container .box .content .precio span {
    color: var(--negro);
    font-size: 1.2rem;
    text-decoration: line-through;
}

.products .box-container .box img {
    height: 20rem;
    width: 20%;
    filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, 1));
    margin: 8rem 2rem;
}

.products .box-container .box .icons {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 5rem;
    left: -9rem;
}

.products .box-container .box:hover .icons {
    left: 1rem;
}

.products .box-container .box .btnDetail {
    background-color: var(--blanco);
    color: var(--negro);
    font-size: 20px;
}

/*Elementos del Carrito*/
.cartBox {
    text-align: center;
}

.cartBox span {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cartBtn {
    display: flex;
    justify-content: space-around;
}

.cartBtn button {
    background-color: inherit;
    color: var(--negro);
}

.btn-compra {
    text-align: center;
}

.btn-compra button {
    background-color: inherit;
    color: var(--negro);
}

.checkout-box .form-group {
    border: .1rem solid var(--negro);
    border-radius: 30px;
    margin: 1rem 30rem;
    align-items: center;
}

.checkout-box .form-group input {
    background: inherit;
}

/*Sección de ayuda*/

.ayuda {
    border: .1rem solid rgba(0, 0, 0, 1);
    border-radius: .1rem;
    width: 50rem;
    margin: 2rem;
    padding: 0.5rem;
}

.ayudaBox {
    text-align: center;
}

.btnAyuda {
    display: flex;
    justify-content: space-around;
    margin-right: 50rem;
}

.btnAyuda  button{
    margin-left: 50rem;
    display: flex;
}

/*Sección de detalles del producto*/

.descripciones {
    margin-top: 1.5rem;
    text-align: center;
}

.descripciones img {
    width: 25%;
}

.descripciones span {
    font-size: 15px;
}

.descripciones a {
    color: var(--negro);
}

.card {
    display: block;
}

.card .shopCount {
    text-align: center;
}

.botones{
    display: flex;
    justify-content: space-evenly;
}

.botones button {
    background-color: inherit;
    color: var(--negro);
}

.cartIcon {
    display: flex;
    justify-content: center;
}

/*Sección de generos de la app de libros*/

.box-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}

.box-container .box {
    border: .1rem solid var(--negro);
    border-radius: 0.1rem;
    text-align: center;
    background: #f9f9f9;
}

.box-container .content {
    margin: 1rem 5rem;
}

.box-container .content a {
    color: var(--negro);
}

.box-container img {
    width: 12rem;
    height: 15rem;
}

/*Sección de libros según el genero*/
.listBox {
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.listBox .boxGenre {
    text-align: center;
    background: inherit;
    font-size: 15px;
}

.listBox .boxGenre img {
    width: 50%;
}

.listBox .boxGenre a {
    color: var(--negro);
}

/*Sección Sign Up*/
.sign-box {
    width: 300px;
    padding: 30px;
    margin-top: 27rem;
    margin-left: 42rem;
    transform: translate(-50%, -50%);
    background: inherit;
    text-align: center;
}

.sign-box h2 {
    color: var(--negro);
    text-transform: uppercase;
    font-weight: 700;
}

.sign-box input{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid var(--negro);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: var(--negro);
    border-radius: 24px;
    transition: 0.25px;
}

.sign-box input::placeholder {
    color: var(--negro);
}

.sign-box input:focus {
    width: 270px;
    border-color: var(--naranja);
}

.sign-box button {
    background: inherit;
}

.sign-box button a{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid var(--naranja);
    padding: 14px 10px;
    outline: none;
    color: var(--naranja);
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.sign-box button a:hover {
    background: var(--naranja);
    color: var(--blanco);
}

.btn-inicio1 {
    margin-top: -22rem;
    text-align: center;
}

.btn-inicio1 a {
    color: var(--naranja);
}

/*Sección de inicio de cuenta*/
.log-box {
    width: 300px;
    padding: 30px;
    margin-top: 12rem;
    margin-left: 42rem;
    transform: translate(-50%, -50%);
    background: inherit;
    text-align: center;
}

.log-box h2 {
    color: var(--negro);
    text-transform: uppercase;
    font-weight: 700;
}

.log-box input{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid var(--negro);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: var(--negro);
    border-radius: 24px;
    transition: 0.25px;
}

.log-box input::placeholder {
    color: var(--negro);
}

.log-box input:focus {
    width: 270px;
    border-color: var(--naranja);
}

.log-box button {
    background: inherit;
}

.log-box button a {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid var(--naranja);
    padding: 14px 10px;
    outline: none;
    color: var(--naranja);
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.log-box button a:hover {
    background: var(--naranja);
    color: var(--blanco);
}

.btn-inicio {
    margin-top: -10rem;
    text-align: center;
}

.btn-inicio a {
    color: var(--naranja);
}

/*Sección contraseña olvidada*/
.reset-box {
    width: 300px;
    padding: 30px;
    margin-top: 12rem;
    margin-left: 42rem;
    transform: translate(-50%, -50%);
    background: inherit;
    text-align: center;
}

.reset-box h1 {
    color: var(--negro);
    text-transform: uppercase;
    font-weight: 700;
}

.reset-box input {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid var(--negro);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: var(--negro);
    border-radius: 24px;
    transition: 0.25px;
}

.reset-box input::placeholder {
    color: var(--negro);
}

.reset-box input:focus {
    width: 270px;
    border-color: var(--naranja);
}

.reset-box button {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid var(--naranja);
    padding: 14px 10px;
    outline: none;
    color: var(--naranja);
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.reset-box button:hover {
    background: var(--naranja);
    color: var(--blanco);
}

.btn-inicio2 {
    margin-top: -10rem;
    text-align: center;
}

.btn-inicio2 a {
    color: var(--naranja);
}

/*Sección usuario*/
.user-text {
    text-align: center;
}

/*Pie de página*/

footer {
    text-align: center;
}


/*Diseño para notebooks*/
@media (max-width: 1024px) {
    .checkout-box .form-group {
        border: .1rem solid var(--negro);
        border-radius: 30px;
        margin: 1rem 20rem;
        align-items: center;
    }

    .carga {
        top: 0.2rem;
        left: 30rem;
        position: relative;
        width: 100px;
        height: 100px;
    }

    .log-box {
        width: 300px;
        padding: 30px;
        margin-top: 12rem;
        margin-left: 32rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center;
    }

    .sign-box {
        width: 300px;
        padding: 30px;
        margin-top: 25rem;
        margin-left: 32rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center; 
    }

    .reset-box {
        width: 300px;
        padding: 30px;
        margin-top: 12rem;
        margin-left: 32rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center;
    }
}
/*Diseño para tablets y moviles*/ 
@media (max-width: 768px) {
    header {
        width: 100%;
    }

    header .logo {
        font-size: .9rem;
    }

    header .navbar a{
        font-size: .9rem;
    }

    header .icons {
        display: flex;
        flex-direction: row;
    }

    header .icons button {
        font-size: .9rem;
    }

    header .icons a {
        font-size: .9rem;
    }

    .carga {
        top: 0.2rem;
        left: 21rem;
        position: relative;
        width: 100px;
        height: 100px;
    }

    .descripciones {
        margin-top: 1.5rem;
        text-align: center;
    }

    .descripciones span {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
    }

    .checkout-box .form-group {
        border: .1rem solid var(--negro);
        border-radius: 1rem;
        margin: 0rem;
        align-items: center;
    }

    .ayuda {
        border: .1rem solid rgba(0, 0, 0, 1);
        border-radius: .1rem;
        width: 30rem;
        margin: 2rem;
        padding: 0.5rem;
    }

    .btnAyuda {
        display: flex;
        justify-content: space-around;
        margin-right: 30rem;
    }
    
    .btnAyuda  button{
        margin-left: 30rem;
        display: flex;
    }

    .log-box {
        width: 300px;
        padding: 30px;
        margin-top: 12rem;
        margin-left: 25rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center;
    }

    .sign-box {
        width: 300px;
        padding: 30px;
        margin-top: 27rem;
        margin-left: 25rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center;
    }

    .reset-box {
        width: 300px;
        padding: 30px;
        margin-top: 12rem;
        margin-left: 25rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center;
    }
}

@media (max-width: 425px) {
    header {
        width: 105%;
    }

    header .logo {
        font-size: .8rem;
    }

    header .navbar a{
        font-size: .8rem;
    }

    header .icons {
        display: flex;
        flex-direction: row;
    }

    header .icons button {
        font-size: .6rem;
    }

    header .icons a {
        font-size: .6rem;
    }

    .carga {
        top: 0.2rem;
        left: 10rem;
        position: relative;
        width: 100px;
        height: 100px;
    }

    .products {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .products .box-container {
        width: 80%;
    }

    .products .box-container .box .content {
        font-size: .7rem;
    }
    
    .products .box-container .box .content .precio span {
        color: var(--negro);
        font-size: .7rem;
        text-decoration: line-through;
    }
    
    .products .box-container .box img {
        height: 20rem;
        width: 45%;
        filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, 1));
        margin: 8rem 2rem;
    }

    .products .box-container .box .btnDetail {
        background-color: var(--blanco);
        color: var(--negro);
        font-size: .8rem;
    }

    .descripciones h2 {
        font-size: 1rem;
    }

    .descripciones h3 {
        font-size: .9rem;
    }

    .descripciones span {
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .card .shopCount {
        font-size: .5rem;
    }

    .botones button {
        background-color: inherit;
        color: var(--negro);
        font-size: .8rem;
    }
    
    .cartIcon {
        display: flex;
        justify-content: center;
        font-size: .7rem;
    }

    .ayudaBox{
        font-size: .5rem;
    }

    .ayuda {
        border: .1rem solid rgba(0, 0, 0, 1);
        border-radius: .1rem;
        width: 20rem;
        margin: 2rem;
        padding: 0.5rem;
    }

    .btnAyuda {
        display: flex;
        justify-content: space-around;
        margin-right: 10rem;
    }
    
    .btnAyuda  button{
        margin-left: 10rem;
        display: flex;
    }

    .log-box {
        width: 300px;
        padding: 30px;
        margin-top: 12rem;
        margin-left: 15rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center;
    }

    .sign-box {
        width: 300px;
        padding: 30px;
        margin-top: 27rem;
        margin-left: 15rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center;
    }

    .reset-box {
        width: 300px;
        padding: 30px;
        margin-top: 12rem;
        margin-left: 15rem;
        transform: translate(-50%, -50%);
        background: inherit;
        text-align: center;
    }
}

@media (max-width: 375px) {
    header {
        width: 100%;
    }

    header .logo {
        font-size: .7rem;
    }

    header .navbar a{
        font-size: .7rem;
    }

    header .icons {
        display: flex;
        flex-direction: row;
    }

    header .icons button {
        font-size: .5rem;
    }

    header .icons a {
        font-size: .5rem;
    }

    .carga {
        top: 0.2rem;
        left: 9.5rem;
        position: relative;
        width: 100px;
        height: 100px;
    }

    .products {
        margin-left: -2rem;
        margin-right: 2rem;
    }

    .products .box-container {
        width: 80%;
    }

    .products .box-container .box .content {
        font-size: .6rem;
    }
    
    .products .box-container .box .content .precio span {
        color: var(--negro);
        font-size: .7rem;
        text-decoration: line-through;
    }
    
    .products .box-container .box img {
        height: 20rem;
        width: 45%;
        filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, 1));
        margin: 8rem 2rem;
    }

    .products .box-container .box .btnDetail {
        background-color: var(--blanco);
        color: var(--negro);
        font-size: .6rem;
    }

    .ayudaBox{
        font-size: .4rem;
    }

    .ayuda {
        border: .1rem solid rgba(0, 0, 0, 1);
        border-radius: .1rem;
        width: 15rem;
        margin: 2rem;
        padding: 0.5rem;
    }

    .btnAyuda {
        display: flex;
        justify-content: space-around;
        margin-right: 10rem;
    }
    
    .btnAyuda  button {
        margin-left: 10rem;
        display: flex;
    }

    .listBox {
        margin-top: 1.5rem;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    
    .listBox .boxGenre {
        text-align: center;
        background: inherit;
        font-size: 15px;
    }

    .box-container .box {
        margin-right: -5rem;
    }
}

@media (max-width: 320px) {
    header {
        width: 100%;
    }

    header .logo {
        font-size: .7rem;
    }

    header .navbar a{
        font-size: .7rem;
    }

    header .icons {
        display: flex;
        flex-direction: row;
    }

    header .icons button {
        font-size: .5rem;
    }

    header .icons a {
        font-size: .5rem;
    }

    .carga {
        top: 0.2rem;
        left: 7rem;
        position: relative;
        width: 100px;
        height: 100px;
    }

    .products {
        margin-left: -7rem;
        margin-right: 2rem;
    }

    .products .box-container {
        width: 80%;
    }

    .products .box-container .box {
        border: .1rem solid rgba(0, 0, 0, 1);
        border-radius: .1rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        background: var(--blanco);
        flex: 1 1 30rem;
    }

    .products .box-container .box .content {
        font-size: .6rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .products .box-container .box .content .precio span {
        color: var(--negro);
        font-size: .7rem;
        text-decoration: line-through;
    }
    
    .products .box-container .box img {
        height: 20rem;
        width: 45%;
        filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, 1));
        margin: 8rem 2rem;
    }

    .products .box-container .box .btnDetail {
        background-color: var(--blanco);
        color: var(--negro);
        font-size: .8rem;
    }

    .box-container .box {
        margin-right: -5rem;
        margin-left: 4rem;
    }
}