@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

:root {
    --celeste: #12a7ec;
    --blanco: #fff;
    --negro: #000;
    --naranja: #FA9006;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--blanco);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 1);
}

header .logo {
    font-size: 2.5rem;
    color: var(--negro);
}

header .navbar a {
    font-size: 1.7rem;
    color: var(--negro);
    margin: 0 1rem;
}

header .navbar a:hover {
    color: var(--celeste);
}

.icons button{
    background: var(--blanco);
}

.cartBox {
    background: var(--blanco);
    display: flex;
}

.cartBox .cartImage {
    height: 2rem;
}

.dropdown {
    margin-left: 32.5rem;
    margin-top: -2rem;
}

.dropdown i {
    font-size: 2.5rem;
}

.dropdown i:hover {
    color: var(--celeste);
}

.dropdown .pags {
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
    list-style-type: none;
    border: .1rem var(--blanco) solid;
    border-radius: .2rem var(--negro);
}

.dropdown .pags li {
    width: 100%;
    background: var(--blanco);
    color: var(--negro);
}

.dropdown .pags li:hover {
    color: var(--celeste);
}

.dropdown:hover .pags,
.dropdown .pags.show {
    max-height: 400px;
}

.dropdown2 {
    background: var(--blanco);
    color: var(--negro);
}

.dropdown2 .cart{
    overflow: hidden;
    transition: all 1s;
    list-style-type: none;
    border: .1rem var(--blanco) solid;
    border-radius: .2rem var(--negro);
    background: var(--blanco);
    color: var(--negro);
}

.dropdown2 .cart .cartBox {
    width: 100%;
    background: var(--blanco);
    color: var(--negro);
}

.ayuda {
    border: .1rem solid rgba(0, 0, 0, 1);
    border-radius: .1rem;
    width: 50rem;
    margin: 2rem;
    padding: 0.5rem;
}

.btnAyuda {
    display: flex;
    justify-content: space-around;
    margin-right: 50rem;
}
